:root {
	--primary: #755cf1;
	--light: #988adf;
	--bg: #2c2d36;
}

canvas {
	width: 100vw;
	height: 100vh;
	padding: 0%;
	margin: 0%;
	display: block;
}

body, html {
	overflow: hidden;
	margin: 0%;
	padding: 0%;
}

#sidebar {
	background-color: var(--bg);
	/* background: linear-gradient(to bottom, #495867 0%,#495867 100%); */
	position: fixed;
	display: none;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 10px;
	height: 100%;
	width: 70px;
	border-style: solid;
	border-width: 0px;
	border-right-width: 2px;
	border-color: var(--primary);
	box-shadow: 0 0 10px 2px var(--primary);
	vertical-align: middle;
	align-items: center;
}

/* #sidebar: */

button {
	border: none;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	color: var(--primary);
	cursor: pointer;
	padding: 10px;
	font-size: 30px;

	transition: color .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover {
	color: rgb(115, 188, 252)
}

#sidebarBtn {
	padding-top: 10px;
	width: 70px;
	position: absolute;
}

.debug {
	right: 20px;
	top: 10px;
	position: absolute;
	width: auto;
	margin: 10;
}

.debug div {
	margin: 5px;
	width: auto;
	background-color: var(--bg);
	opacity: 40%;
	border-radius: 3px;
	padding: 2px;
}

.debugText {
	/* color: rgb(255, 85, 73); */
	color: var(--light);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}

span {
	font-weight: normal;
}